<div class="content-fluid navbar">
	<div class="col-xs-12 black-nav">
		<div class="container">
			<div class="col-xs-2">
				<a href="./"><img src="img/logo.png" class="logo-nav"></a>
			</div>
			<div class="col-xs-1 col-xs-offset-6">
				<a href="#" class="nav">+ Projecto</a>
			</div>
			<div class="col-xs-1">
				<a href="#" class="nav">+ Cliente</a>
			</div>
			<div class="col-xs-1">
				<a href="#" class="nav">Modificar</a>
			</div>
			<div class="col-xs-1">
				<a href="#/logout" class="nav">Logout</a>
			</div>
		</div>
	</div>
</div>